//Color// 
$yellowColor: #DDFF00;
$whiteColor: #F6F6F6;
$purple1: #212040;
$purple2: #555381;
$purple3: #22212C;
$purple4: #7775A6;
$purple5: #555381;

//Police//

$font-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-title: Kode Mono, monospace, sans-serif;