//Color//
$yellowColor: #ddff00;
$whiteColor: #f6f6f6;
$purple1: #212040;
$purple2: #555381;
$purple3: #22212c;
$purple4: #7775a6;
$purple5: #555381;
$purple6: #22212cf3;
$purple7: #ce5bff;

//Police//

$font-main: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$font-title: Kode Mono, monospace, sans-serif;
