@use './utils/sass/variable.scss' as *;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


.body-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-image: url('./assets/background.gif'); // Mets le chemin correct
  background-size: cover; // Pour couvrir tout l’écran
  background-position: center;
  height: 100vh;
}


.banner-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between; // Espace entre le texte et l'image
  align-items: center; // Centre les éléments verticalement
  padding: 0 50px;
  gap: 50px;


  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    animation: fadeInLeft 1s ease-out; // Animation qui vient de la gauche


    @media screen and (max-width: 1024px) {
      width: 60%;
    }

    // Un peu d'espace entre le texte et l'image

    h1 {
      font-size: 5.2em;
      color: $whiteColor;

      @media screen and (max-width: 1024px) {
        font-size: 3.2em;
      }

    }

    p {
      font-size: 2em;
      color: $yellowColor;
      text-align: justify;

      @media screen and (max-width: 1024px) {
        font-size: 1.5em;
      }
    }

  }

  .image-container {
    animation: fadeInRight 1s; // Animation qui vient de la droite avec 0.5s de délai
    animation-fill-mode: both; // Assure que l’animation reste à l’état final

    .imgComputer {
      transform: scaleX(-1); // Tourne l'image de 180 degrés
      height: 450px;
      width: auto;
      object-fit: contain; // Conserve les proportions de l'image
    }

    @keyframes fadeInLeft {
      from {
        opacity: 0;
        transform: translateX(-100px);
      }

      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  .word-change {
    display: inline-block;
    color: $yellowColor; // Couleur du mot en cours
    border-right: 3px solid $purple4; // Effet de curseur de machine à écrire
    animation: blink 1s step-end infinite;
    padding-right: 2px; // Petit espace après le mot pour le curseur
    margin-left: 8px; // Espace entre la phrase et le mot
  }

  @keyframes blink {
    50% {
      border-color: transparent; // Fait clignoter le curseur
    }
  }
}

// Header //

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;


  img {
    width: 60px;
    height: 60px;
  }

  h2 {
    color: $whiteColor;
  }

  input {
    color: black;
    border-radius: 20px;
    padding: 10px;
    background-color: $yellowColor;
  }

  .nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: $yellowColor;

    @media screen and (max-width: 1024px) {
      gap: 10px;
    }
  }

  li {
    list-style: none;
    color: $whiteColor;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    overflow: hidden; // Cache le pseudo-élément qui dépasse
    border-radius: 30px; // Bord arrondi même sans effet
    transition: color 0.3s ease-in-out;


    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(58, 57, 57, 0.275); // Couleur de l'effet
      border-radius: 30px;
      transform: scale(0); // Départ invisible
      transform-origin: center;
      transition: transform 0.4s ease-in-out;
    }

    &:hover::before {
      transform: scale(1); // Expansion totale
    }

    &:hover {
      color: $purple4; // Change la couleur du texte au hover
    }

    &.active {
      background: $purple4;
      color: black;
    }

  }

}

.contact-container {



  .contact {
    background-color: $purple5;
    width: 80%;
    display: flex;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 60px;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
  }


  img {
    height: 450px;
    object-fit: contain;

    @media screen and (max-width: 768px) {
      height: 100px;
    }
  }
}