@use './utils/sass/variable.scss' as *;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}



.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; // Place la vidéo en arrière-plan

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px; // Un peu d'espace entre le texte et l'image
  max-width: 50%;

  h1 {
    font-size: 3.2em;
    color: $whiteColor;

  }

  p {
    font-size: 2em;
    color: $yellowColor;
    text-align: justify;
  }

}


.banner-container {
  display: flex;
  justify-content: space-between; // Espace entre le texte et l'image
  align-items: center; // Centre les éléments verticalement
  padding: 0 50px;


  .imgComputer {
    transform: scaleX(-1); // Tourne l'image de 180 degrés
    height: 450px;
    width: auto; // Conserve les proportions de l'image
    flex-shrink: 0;
  }



}

// Header //

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;


  img {
    width: 60px;
    height: 60px;
  }

  h2 {
    color: $whiteColor;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 60px;
    border: solid;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: $yellowColor;


    li {
      list-style: none;
      color: $whiteColor;

    }
  }

  input {
    color: black;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
    background-color: $yellowColor;
  }
}